<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi">

<head>
    <meta charset="utf-8" />
    <title>Gioi thieu all</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <meta name="theme-color" content="#0099ff" />
    <meta http-equiv="Content-Language" content="VN" />
    <meta name="description" content="RICHBORN HOME" />
    <meta name="keywords" content="" />
    <meta property="og:url" name="og:url" content="https://mjchem.24h.co/" data-app />
    <meta property="og:type" name="og:type" content="website" data-app />
    <meta property="og:description" name="og:description" content="RICHBORN HOME" data-app />
    <meta property="og:title" name="og:title" content="Home" data-app />
    <meta property="og:image" name="og:image" content="https://mjchem.24h.co/uploaded/logo/logo.png" data-app>
    <meta property="og:image:alt" name="og:image:alt" content="https://mjchem.24h.co/uploaded/logo/logo.png" data-app>
    <link rel="canonical" href="https://mjchem.24h.co/" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
    <div id="page">
        <div class="top-header">
            <div class="grid">
                <div class="flex-container align-center">
                    <div class="company-title">
                        <h1>Công ty cổ phần Hanel - Hanel JSC</h1>
                        <div class="top-header-line">
                            |
                        </div>
                        <div class="subcompany-title">
                            <i>Tiên phong về công nghệ</i>
                        </div>
                    </div>

                    <div class="lang">
                        <a href="/en/" class="en"><img src="/images/flag-en.png"> EN </a>

                    </div>
                </div>
            </div>
        </div>
        <header class="header hide-on-tab">
            <div class="grid">
                <div class="flex-container align-center">
                    <div class="cell-1-5">
                        <div class="logo">
                            <a href="/"><img src="/uploaded/logo/logo.png" alt="LogoSite" style="max-width:100%;" /></a>
                        </div>
                    </div>
                    <div class="cell-4-5 tab-cell-1-1">
                        <div class="menubar">
                            <ul class="nav hide-on-mobile">
                                <li class=" active " style=""> <a href="/" class="">Về Hanel </a> </li>
                                <li class="  " style=""> <a href="/our-company.html" class="">Lĩnh vực hoạt động <i
                                            class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class=" mega-menu">
                                        <li class=" mega-menu-item "><a href="/our-company.html#about-michem">About
                                                Company</a>
                                        </li>
                                        <li class=" mega-menu-item "><a
                                                href="/our-company.html#mission-and-vision">Mission and Vision</a>
                                        </li>
                                        <li class=" mega-menu-item "><a href="/our-company.html#values">Values</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="  " style=""> <a href="/our-solution.html" class="">Sản phẩm , Dịch vụ<i
                                            class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class=" mega-menu">
                                        <li class=" mega-menu-item "><a href="/paper-industry.html"> Paper Industry</a>
                                            <ul>
                                                <li class=""><a href="/wastewater-treatment.html">Wastewater
                                                        treatment</a> </li>
                                                <li class=""><a href="/defoamer-amp-surface-sizing-agent-.html">Defoamer
                                                        &amp; Surface Sizing
                                                        Agent.</a> </li>
                                            </ul>
                                        </li>
                                        <li class=" mega-menu-item "><a href="/mining-industry.html">Mining industry</a>
                                        </li>
                                        <li class=" mega-menu-item "><a href="/cooling-tower-application.html">Cooling
                                                Tower Application</a>
                                        </li>
                                        <li class=" mega-menu-item "><a href="/clean-the-equipment-system.html">Clean
                                                the equipment
                                                system</a> </li>
                                    </ul>
                                </li>
                                <li class="  " style=""> <a href="/news.html" class="">Tin tức </a></li>
                                <li class="  " style=""> <a href="/contact-us.html" class="">Quan hệ cổ đông</a></li>
                                <li class="  " style=""> <a href="/contact-us.html" class="">Công ty thành viên</a></li>
                                <li class="  " style=""> <a href="/contact-us.html" class="">Liên hệ</a></li>
                            </ul>
                            <div class="search">
                                <div class="frm-search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <div class="searchpc">
                                    <form action="/search/" method="get" id="searchformtab">
                                        <input name="qr" id="qr_search" class="kw-mobile" placeholder="Search"
                                            type="text">

                                        <a href="#" class="submit-search-pc"
                                            onclick="$('#searchformtab').submit();return false;">
                                            <i class="fa fa-search search-icon" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="closeX" onclick="$('.searchpc').hide(); return false;">✕</a>
                                    </form>

                                    <script type="text/javascript">

                                        $(".submit-search-pc").click(function () {
                                            if ($("#qr_search").val() != "")
                                                $('#searchformtab').submit();
                                            return false;

                                        });

                                        $(document).ready(function () {
                                            $(".frm-search").click(function () {
                                                $(".searchpc").stop().slideToggle("fast");
                                                return false;
                                            });

                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- body -->
        <div class="content">

            <div class="img-poster" style="position:relative">
                <div class="crumb">
                    <div class="grid"><a href="/"> Home </a> | </i> <a href='/gioi-thieu.html'>Giới Thiệu</a></div>
                    <div class="c"></div>
                </div>
                <a class="" href="">
                    <img src="/uploaded/pic-cat/pic-gioi-thieu.jpg" alt="Giới Thiệu" width="100%" />
                </a>
            </div>

            <div class="infor-wraper">
                <div class="c30"></div>
                <div class="c20 hide-on-mobile"></div>
                <div class="grid">

                    <div class="c30"></div>
                    <div class="flex-container">

                        <div class="cell-1-2 tab-cell-1-1">
                            <div class="homecat-title">
                                Our company
                            </div>
                            <div class="c10"></div>
                            <div class="homeinfo-intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.

                            </div>
                            <div class="c30"></div>
                            <a href="#" class="btn-info-xemthem">
                                <i class="fa-solid fa-arrow-right"></i> Xem thêm
                            </a>
                        </div>
                        <div class="cell-1-2 tab-cell-1-1">
                            <div class="video-about">
                                <img src="/uploaded/gioi-thieu/item1.png" width="100%" alt="Giới thiệu"
                                    style="display:block" class="image-info-home">
                                <div class="fancy-video-about">

                                    <a data-fancybox="" class="fancybox__link"
                                        href="https://www.youtube.com/watch?v=vtOPaaxVYHo">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="c50"></div>
            <div class="c50"></div>
            <div class="info-lanhdao">
                <div class="grid">
                    <div class="c30"></div>
                    <div class="c20"></div>
                    <div class="c30"></div>
                    <div class="flex-container">
                        <div class="cell-1-3 tab-cell-1-1">
                            <div class="">
                                <img src="/uploaded/lanh-dao/ceo.png" width="100%" alt="Giới thiệu"
                                    style="display:block" class="image-info-home">
                            </div>
                        </div>
                        <div class="cell-2-3 tab-cell-1-1">
                            <div class="c20"></div>
                            <div class="homecat-title">

                                Thư ngỏ
                            </div>
                            <div class="c10"></div>
                            <div class="homeinfo-intro ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </div>
                            <div class="c30"></div>
                            <div class="c20"></div>
                            <div class="slogan">
                                <p>Hanel chắc chắn sẽ khẳng định được vị thể của một doanh nghiệp luôn tiên phong; niềm
                                    tự hào của Thủ đô và cả nước; xứng đáng với niềm tin mà quý vị đối tác, khách hàng
                                    dành cho chúng tôi.
                                </p>
                            </div>
                            <div class="c30"></div>
                            <!-- <a href="#" class="btn-info-xemthem">
                            <i class="fa-solid fa-arrow-right"></i> Xem thêm
                        </a> -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="c30"></div>
            <div class="c20"></div>
            <div class="company-values">
                <div class="grid">
                    <div class="homecat-title text-center">Tầm nhìn - Sứ mệnh - Giá trị cốt lõi</div>
                    <div class="c30"></div>
                    <div class="flex-container text-center">
                        <div class="cell-1-3">
                            <div class="vision">
                                <div class="circle-container">
                                    <img src="/uploaded/gioi-thieu/vision.png" alt="">
                                </div>
                                <div class="c30"></div>
                                <div class="sub-title">Tầm nhìn </div>
                                <div class="c20"></div>
                                <div class="text-line-3">Hanel định hướng trở thành thương hiệu công nghệ số tầm vóc
                                    Quốc
                                    gia,
                                    sánh cùng các thương hiệu công nghệ hàng đầu của Việt Nam.</div>
                            </div>
                        </div>
                        <div class="cell-1-3">
                            <div class="vision">
                                <div class="circle-container">
                                    <img src="/uploaded/gioi-thieu/vision.png" alt="">
                                </div>
                                <div class="c30"></div>
                                <div class="sub-title">Tầm nhìn </div>
                                <div class="c20"></div>
                                <div class="text-line-3">Hanel định hướng trở thành thương hiệu công nghệ số tầm vóc
                                    Quốc
                                    gia,
                                    sánh cùng các thương hiệu công nghệ hàng đầu của Việt Nam.</div>
                            </div>
                        </div>
                        <div class="cell-1-3">
                            <div class="vision">
                                <div class="circle-container">
                                    <img src="/uploaded/gioi-thieu/vision.png" alt="">
                                </div>
                                <div class="c30"></div>
                                <div class="sub-title">Tầm nhìn </div>
                                <div class="c20"></div>
                                <div class="text-line-3">Hanel định hướng trở thành thương hiệu công nghệ số tầm vóc
                                    Quốc
                                    gia,
                                    sánh cùng các thương hiệu công nghệ hàng đầu của Việt Nam.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c30"></div>
                <div class="c30"></div>
                <div class="c30"></div>
            </div>
            <div class="history">
                <div class="grid">
                    <div class="flex-container">
                        <div class="cell-1-3">
                            <div class="c30"></div>
                            <div class="homecat-title">
                                Lịch sử phát triển
                            </div>
                            <div class="c30"></div>
                            <div class="c20"></div>
                            <div class="text-line">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.



                            </div>
                        </div>

                        <div class="cell-2-3" style="width: 100%;">
                            <img src="/uploaded/gioi-thieu/history1.png" alt="">
                            <img src="/uploaded/gioi-thieu/history2.png" alt="">
                            <img src="/uploaded/gioi-thieu/history3.png" alt="">
                            <img src="/uploaded/gioi-thieu/history4.png" alt="">
                            <img src="/uploaded/gioi-thieu/history5.png" alt="">
                            <img src="/uploaded/gioi-thieu/history6.png" alt="">
                            <img src="/uploaded/gioi-thieu/history7.png" alt="">
                            <img src="/uploaded/gioi-thieu/history8.png" alt="">
                            <img src="/uploaded/gioi-thieu/history9.png" alt="">
                        </div>


                    </div>
                </div>
            </div>
            <div class="grid lanhdao">
                <div class="c30"></div>
                <div class="c20"></div>
                <div class="c30"></div>
                <div class="lanhdao" style="text-align: center;">
                    <img src="/uploaded/lanh-dao/ptgd.png" alt="">
                    <div class="c20"></div>
                    <div class="detail-lanhdao">
                        <b> ông nguyễn đình vinh</b>
                        <p>Chủ tịch hội đồng quản trị</p>
                    </div>
                </div>
                <div class="lanhdao">
                    <div class="flex-container text-center">
                        <div class="lanhdao" style="text-align: center;">
                            <img src="/uploaded/lanh-dao/ptgd.png" alt="">
                            <div class="c20"></div>
                            <div class="detail-lanhdao">
                                <b> ông nguyễn đình vinh</b>
                                <p>Chủ tịch hội đồng quản trị</p>
                            </div>
                        </div>
                        <div class="lanhdao" style="text-align: center;">
                            <img src="/uploaded/lanh-dao/ptgd.png" alt="">
                            <div class="c20"></div>
                            <div class="detail-lanhdao">
                                <b> ông nguyễn đình vinh</b>
                                <p>Chủ tịch hội đồng quản trị</p>
                            </div>
                        </div>
                        <div class="lanhdao" style="text-align: center;">
                            <img src="/uploaded/lanh-dao/ptgd2.png" alt="">
                            <div class="c20"></div>
                            <div class="detail-lanhdao">
                                <b> ông nguyễn đình vinh</b>
                                <p>Chủ tịch hội đồng quản trị</p>

                            </div>
                        </div>
                        <div class="lanhdao" style="text-align: center;">
                            <img src="/uploaded/lanh-dao/pgtg3.png" alt="">
                            <div class="c20"></div>
                            <div class="detail-lanhdao">
                                <b> ông nguyễn đình vinh</b>
                                <p>Chủ tịch hội đồng quản trị</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="c30"></div>
                <div class="c20"></div>
            </div>
            <div class="organizational" style="text-align: center;">
                <div class="c30"></div>
                <div class="homecat-title">Cơ cấu tổ chức</div>
                <img src="/uploaded/gioi-thieu/abc.jpg" alt="">
            </div>
            <div class="info-pride-wraper">
                <div class="c30"></div>
                <div class="c20"></div>
                <div class="grid">
                    <div class="info-title">
                        Hanel và những niềm tự hào
                    </div>
                    <div class="c30">

                    </div>
                    <div class="c20"></div>
                </div>
                <div class="grid-more">
                    <div class="swiper info-pride">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="info-item">
                                    <div class="cover-info-img">
                                        <img src="/uploaded/gioi-thieu/pride1.png" alt="">
                                    </div>
                                    <div class="intro-info text-line-2">Huân chương lao động hạng nhất (1994)</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="info-item">
                                    <div class="cover-info-img"> <img src="/uploaded/gioi-thieu/pride1.png" alt="">
                                    </div>

                                    <div class="intro-info text-line-2">Huân chương lao động hạng ba (2014)</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <div class="cover-info-img"> <img src="/uploaded/gioi-thieu/pride3.png" alt="">
                                    </div>

                                    <div class="intro-info text-line-2">Huân chương lao động hạng nhì (2009)</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <div class="cover-info-img"><img src="/uploaded/gioi-thieu/pride4.png" alt=""></div>

                                    <div class="intro-info text-line-2">40 năm hình thành và phát triển</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <div class="cover-info-img"> <img src="/uploaded/gioi-thieu/pride6.png" alt="">
                                    </div>

                                    <div class="intro-info text-line-2">40 năm hình thành và phát triển</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <div class="cover-info-img"><img src="/uploaded/gioi-thieu/pride5.png" alt=""></div>

                                    <div class="intro-info text-line-2">40 năm hình thành và phát triển</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <div class="cover-info-img"><img src="/uploaded/gioi-thieu/pride6.png" alt=""></div>

                                    <div class="intro-info text-line-2">40 năm hình thành và phát triển</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    const swiper = new Swiper('.info-pride', {
                        slidesPerView: 6,
                        spaceBetween: 20,


                        loop: true,
                    });
                </script>

                <div class="c30"></div>
                <div class="c30"></div>
                <div class="c30"></div>
            </div>
            <div class="about-me ">
                <div class="grid">
                    <div class="c30"></div>
                    <div class="c20"></div>
                    <div class="info-title">
                        Tìm hiểu thêm về chúng tôi
                    </div>
                    <div class="c30"></div>
                    <div class="c2"></div>
                    <ul class="">
                        <li> <a href="" class="btn-info-xemthem"> <i class="fa-solid fa-arrow-right"></i>Thư ngỏ</a>
                        </li>
                        <li> <a href="" class="btn-info-xemthem"> <i class="fa-solid fa-arrow-right"> </i>Sứ mệnh - Tầm
                                nhìn - Giá trị cốt lõi </a> </li>
                        <li> <a href="" class="btn-info-xemthem"> <i class="fa-solid fa-arrow-right"> </i>Thư ngỏ </a>
                        </li>
                        <li> <a href="" class="btn-info-xemthem"> <i class="fa-solid fa-arrow-right"> </i>Lịch sử phát
                                triển </a> </li>
                        <li> <a href="" class="btn-info-xemthem"> <i class="fa-solid fa-arrow-right"> </i>Giải thưởng
                            </a> </li>
                        <li> <a href="" class="btn-info-xemthem"> <i class="fa-solid fa-arrow-right"> </i>Sứ mệnh - Tầm
                                nhìn - Giá trị cốt lõi </a> </li>
                        <li> <a href="" class="btn-info-xemthem"> <i class="fa-solid fa-arrow-right"> </i>Sứ mệnh - Tầm
                                nhìn - Giá trị cốt lõi </a> </li>
                    </ul>
                </div>
                <div class="c30"></div>
                <div class="c30"></div>
                <div class="c20"></div>
            </div>
        </div>


    </div>
    <!-- end body -->
    <footer class="footer">
        <div class="footer-main">
            <div class="grid">
                <div class="c30"> </div>
                <div class="flex-container">
                    <div class="cell-1-4 tab-cell-1-1">
                        <div class="footer-block">
                            <div class="content-f">
                                <div class="footer-title">Về Hanel</div>
                                <div class="c5 hide-on-tab"></div>
                                <div class="info">Thư ngỏ</div>

                                <div class="info">Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </div>

                                <div class="info">Lịch sử phát triển</div>
                                <div class="info">Ban lãnh đạo</div>
                                <div class="info">Cơ cấu tổ chức</div>
                                <div class="info">Giải thưởng</div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-1-4 tab-cell-1-1">
                        <div class="footer-block">
                            <div class="content-f">
                                <div class="footer-title">Về Hanel</div>
                                <div class="c5 hide-on-tab"></div>
                                <div class="info">Thư ngỏ</div>

                                <div class="info">Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </div>

                                <div class="info">Lịch sử phát triển</div>
                                <div class="info">Ban lãnh đạo</div>
                                <div class="info">Cơ cấu tổ chức</div>
                                <div class="info">Giải thưởng</div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-1-4 tab-cell-1-1">
                        <div class="footer-block">
                            <div class="content-f">
                                <div class="footer-title">Về Hanel</div>
                                <div class="c5 hide-on-tab"></div>
                                <div class="info">Thư ngỏ</div>

                                <div class="info">Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </div>

                                <div class="info">Lịch sử phát triển</div>
                                <div class="info">Ban lãnh đạo</div>
                                <div class="info">Cơ cấu tổ chức</div>
                                <div class="info">Giải thưởng</div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-1-4 tab-cell-1-1">
                        <div class="footer-block">
                            <div class="footer-title hide-on-tab "> Title footer </div>
                            <div class="c5 hide-on-tab"></div>
                            <ul class="menuboxfooter" id="boxcol34">
                                <li><a href="#"> Menu footer 1</a> </li>
                                <li><a href="#"> Menu footer 2</a> </li>
                                <li><a href="#"> Menu footer 3</a> </li>
                            </ul>
                            <div class="c10"></div>
                        </div>
                    </div>
                </div>

                <div class="c10"> </div>
                <div class="c5"> </div>
                <hr>
                <div class="c30"></div>
                <div class="grid">
                    <div class="flex-container">
                        <div class="cell-1-4">
                            <div class="footer-copyright">

                                ©2024 company.com
                            </div>
                        </div>
                        <div class="cell-3-4">
                            <div class="menu-copyright">
                                <ul>
                                    <li>
                                        Điều khoản sử dụng
                                    </li>
                                    <li>
                                        Sơ đồ website
                                    </li>
                                    <li>
                                        Sơ đồ website
                                    </li>
                                    <li>
                                        Sơ đồ website
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="c30"></div>
        </div>

        </div>
        </div>
    </footer>
    </div>


    <!--
<div style="background: #1c4d99;">
    <div class="grid" >
    <ul class="menufooter">
        <li><a href="/our-company.html">Our company</a></li>
        <li><a href="/our-solution.html">Our solutions</a></li>
        <li><a href="/news.html">News</a></li>
        <li><a href="/product-safery.html">Product Safery</a></li>
    </ul>
    </div>
</div>

<a class="js-open-modal  dang-ky-tu-van hide-on-tab" data-modal-id="popupDangKy" href="#">
    <img src="/images/dang-ky-tu-van.gif" width="150"  > 

</a>

-->
    <div id="popupDangKy" class="modal-box">
        <a href="#" class="js-modal-close close btn-close"> [×] </a>
        <div class="modal-body">
            <div class="dangky">
                <div style="padding:20px; border-radius:10px; min-height:320px; ">
                    <form action="/index4.php?page=contact&lang=" method="post" id="regform"
                        data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ"
                        data-captcha="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !"
                        data-redirect="/contact-success/">

                        <input type="hidden" name="code" value="save" />

                        <div class="form-title"> Tư vấn </div>
                        <div class="c10"></div>
                        <div class="form-label" style="text-align:center;"><i> Chúng tôi sẽ liên hệ với bạn trong thời
                                gian sớm
                                nhất
                            </i> </div>
                        <div class="c10"></div>
                        <div class="c20"></div>

                        <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên (*)"
                            id="yourname" />
                        <div class="c10"></div>

                        <input name="phone" type="text" class="txt-contact notNull" placeholder="Điện thoại (*)" />
                        <div class="c10"></div>
                        <input name="address" type="text" class="txt-contact " placeholder="Địa chỉ" />
                        <div class="c10"></div>

                        <select name="other_request" type="text" class="txt-contact">
                            <option value=""> Chọn hình thức tư vấn </option>
                            <option value="Tư vấn mua hàng"> Tư vấn mua hàng </option>
                            <option value="Tìm đại lý, cửa hàng gần nhất">Tìm đại lý, cửa hàng gần nhất </option>

                        </select>
                        <div class="c10"></div>

                        <div style="position:relative;">
                            <input class="newsletter newsletter_b notNull" placeholder="Enter Captcha"
                                name="sercurity" />
                            <img src="/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle"
                                class="imgCaptcha newsletter-capt-img"
                                style="height: 35px; position: absolute; top: 0px; right: 0px; " />

                        </div>


                        <div class="c20"></div>
                        <input name="input" type="button" onClick="$('#regform').submit()" class="btn-send"
                            value="SEND" />
                        <div class="c5"></div>
                        <div class="msgbox" style="font-size: 20px; text-align:center;"> </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {

            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

            $('a[data-modal-id]').click(function (e) {
                e.preventDefault();
                $("body").append(appendthis);
                $(".modal-overlay").fadeTo(500, 0.7);
                var modalBox = $(this).attr('data-modal-id');
                $('#' + modalBox).fadeIn($(this).data());
            });

            $(".js-modal-close, .modal-overlay").click(function () {
                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                    $(".modal-overlay").remove();
                });
                return false;
            });


        });
    </script>

    <link rel="stylesheet" rel="preload" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/hover.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/js/jquery.mmenu.min.all.min.js"
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/css/jquery.mmenu.all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div id="button-btt">
        <a href="#"><i class="fa fa-chevron-up"></i> </a>
    </div>


    <script>
        function check_newsletter() {
            ok = true;
            $('#newsletterForm .error').removeClass('error');
            $('#newsletterForm .notNull').each(function () {
                if ($(this).val() == '') {
                    $(this).addClass('error');
                    ok = false;
                }
            }
            );
            return ok;
        }

        $(function () {
            $('.countcart').html('(0)');
        });
    </script>
    <script type='text/javascript'
        src='https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons'
        async='async'></script>
    <link rel="stylesheet" href="/css/widget-call.css" />
</body>

</html>