<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi">

<head>
  <meta charset="utf-8" />
  <title>Home</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="RICHBORN HOME" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="https://mjchem.24h.co/" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="RICHBORN HOME" data-app />
  <meta property="og:title" name="og:title" content="Home" data-app />
  <meta property="og:image" name="og:image" content="https://mjchem.24h.co/uploaded/logo/logo.png" data-app>
  <meta property="og:image:alt" name="og:image:alt" content="https://mjchem.24h.co/uploaded/logo/logo.png" data-app>
  <link rel="canonical" href="https://mjchem.24h.co/" />
  <link href="/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/script.js"></script>
</head>

<body>
  <div id="page">
    <div class="top-header">
      <div class="grid">
        <div class="flex-container align-center">
          <div class="company-title">
            <h1>Công ty cổ phần Hanel - Hanel JSC</h1>
            <div class="top-header-line">
              |
            </div>
            <div class="subcompany-title">
              <i>Tiên phong về công nghệ</i>
            </div>
          </div>

          <div class="lang">
            <a href="/en/" class="en"><img src="/images/flag-en.png"> EN </a>

          </div>
        </div>
      </div>
    </div>
    <header class="header hide-on-tab">
      <div class="grid">
        <div class="flex-container align-center">
          <div class="cell-1-5">
            <div class="logo">
              <a href="/"><img src="/uploaded/logo/logo.png" alt="LogoSite" style="max-width:100%;" /></a>
            </div>
          </div>
          <div class="cell-4-5 tab-cell-1-1">
            <div class="menubar">
              <ul class="nav hide-on-mobile">
                <li class=" active " style=""> <a href="/" class="">Về Hanel </a> </li>
                <li class="  " style=""> <a href="/our-company.html" class="">Lĩnh vực hoạt động <i
                      class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class=" mega-menu">
                    <li class=" mega-menu-item "><a href="/our-company.html#about-michem">About Company</a>
                    </li>
                    <li class=" mega-menu-item "><a href="/our-company.html#mission-and-vision">Mission and Vision</a>
                    </li>
                    <li class=" mega-menu-item "><a href="/our-company.html#values">Values</a>
                    </li>
                  </ul>
                </li>
                <li class="  " style=""> <a href="/our-solution.html" class="">Sản phẩm , Dịch vụ<i
                      class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class=" mega-menu">
                    <li class=" mega-menu-item "><a href="/paper-industry.html"> Paper Industry</a>
                      <ul>
                        <li class=""><a href="/wastewater-treatment.html">Wastewater treatment</a> </li>
                        <li class=""><a href="/defoamer-amp-surface-sizing-agent-.html">Defoamer &amp; Surface Sizing
                            Agent.</a> </li>
                      </ul>
                    </li>
                    <li class=" mega-menu-item "><a href="/mining-industry.html">Mining industry</a></li>
                    <li class=" mega-menu-item "><a href="/cooling-tower-application.html">Cooling Tower Application</a>
                    </li>
                    <li class=" mega-menu-item "><a href="/clean-the-equipment-system.html">Clean the equipment
                        system</a> </li>
                  </ul>
                </li>
                <li class="  " style=""> <a href="/news.html" class="">Tin tức </a></li>
                <li class="  " style=""> <a href="/contact-us.html" class="">Quan hệ cổ đông</a></li>
                <li class="  " style=""> <a href="/contact-us.html" class="">Công ty thành viên</a></li>
                <li class="  " style=""> <a href="/contact-us.html" class="">Liên hệ</a></li>
              </ul>
              <div class="search">
                <div class="frm-search">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="searchpc">
                  <form action="/search/" method="get" id="searchformtab">
                    <input name="qr" id="qr_search" class="kw-mobile" placeholder="Search" type="text">

                    <a href="#" class="submit-search-pc" onclick="$('#searchformtab').submit();return false;">
                      <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="closeX" onclick="$('.searchpc').hide(); return false;">✕</a>
                  </form>

                  <script type="text/javascript">

                    $(".submit-search-pc").click(function () {
                      if ($("#qr_search").val() != "")
                        $('#searchformtab').submit();
                      return false;

                    });

                    $(document).ready(function () {
                      $(".frm-search").click(function () {
                        $(".searchpc").stop().slideToggle("fast");
                        return false;
                      });

                    });
                  </script>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </header>
    <!-- body -->
    <div class="content">

      <div class="img-poster" style="position:relative">
        <a href="">
          <img src="/uploaded/slideshow/item1.jpg" alt="" width="100%" />
        </a>
        <div class="poster-content">
          <div class="poster-desc">
            <div class="main-logo">
              <img src="/uploaded/logo/logo-w.png" alt="">
            </div>
            <div class="c30"></div>
            <h2 class="slidehome-title">Tiên phong về công nghệ </h2>
            <div class="c20"> </div>
            <div class="c20"></div>
            <div class="text-line-3">
              Hanel phấn đấu trở thành doanh nghiệp hàng đầu trong nước và khu vực trong lĩnh vực công nghệ thông tin,
              công nghệ số, đầu tư cơ sở hạ tầng công nghệ cao
            </div>
            <div class="c30"></div>
            <div class="c20"></div>
            <a href="" class="btn-xemthem">Khám phá ngay</a> <a href="" class="btn-about">Xem video về Hanel <i
                class="fa-solid fa-play"></i></i></a>
          </div>

        </div>

      </div>


      <div class="homeinfo-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">

          <div class="homecat-title text-center">
            Sứ mệnh, Tầm nhìn, Giá TRỊ CỐT LÕI
          </div>
          <div class="c10"></div>
          <div class="homecat-intro text-center">
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            verssum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took
            a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typese
          </div>
          <div class="c30"></div>

          <div class="flex-container flex-centered">
            <div class="cover-info">
              <div class="homeinfo-item">
                <div class="homeinfo-item-title">
                  Tầm nhìn
                </div>
                <div class="c20"></div>
                <div class="homeinfo-item-content ">
                  Hanel định hướng trở thành thương hiệu công nghệ số tầm vóc Quốc gia, sánh cùng các thương hiệu công
                  nghệ hàng đầu của Việt Nam.
                </div>
              </div>
            </div>
            <div class="cover-info">
              <div class="homeinfo-item">
                <div class="homeinfo-item-title">
                  Tầm nhìn
                </div>
                <div class="c20"></div>
                <div class="homeinfo-item-content ">
                  Hanel định hướng trở thành thương hiệu công nghệ số tầm vóc Quốc gia, sánh cùng các thương hiệu công
                  nghệ hàng đầu của Việt Nam.
                </div>
              </div>
            </div>
            <div class="cover-info">
              <div class="homeinfo-item">
                <div class="homeinfo-item-title">
                  Giá trị cốt lõi
                </div>
                <div class="c20"></div>
                <div class="homeinfo-item-content ">
                  <ul>
                    <li> Đạo đức</li>
                    <li>Sáng tạo</li>
                    <li>Kết nối</li>
                    <li>Liên tục hoàn thiện</li>
                    <li>Tôn trọng từng đồng xu của khách hàng</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c50"></div>
            <div class="c50"></div>
          </div>



        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
      </div>

      <div class="homeservice-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-1 tab-cell-1-1">
              <div class="homecat-title text-center" style="color: white;">
                Lĩnh vực hoạt động
              </div>
              <div class="c20"></div>
              <div class="homecat-intro text-center" style="color: white;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, rerum beatae tenetur voluptatum enim
                fugit consequatur dolores deleniti porro incidunt quibusdam a omnis praesentium dolor voluptas
                corrupti
                ea fuga eligendi!
              </div>
            </div>
          </div>

          <div class="homeservice">
            <div class="c30"></div>
            <div class="flex-container">
              <div class="cell-1-5 tab-cell-1-1">
                <div class="image-container">
                  <img src="/uploaded/linhvuchoatdong/Home-final-Final_06.jpg" alt="Công nghệ">
                  <span>Công nghệ</span>
                  <div class="overlay"></div>
                  <div class="btn-service">
                    <a href="#">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="cell-1-5 tab-cell-1-1">
                <div class="image-container">
                  <img src="/uploaded/linhvuchoatdong/Home-final-Final_07.jpg" alt="Công nghệ">
                  <span>Hạ Tầng KCN,
                    Khu CNTT tập trung</span>
                  <div class="overlay"></div>
                  <div class="btn-service">
                    <a href="#">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="cell-1-5 tab-cell-1-1">
                <div class="image-container">
                  <img src="/uploaded/linhvuchoatdong/Home-final-Final_11.jpg" alt="Công nghệ">
                  <span>Sản xuất Công nghiệp
                    phụ trợ</span>
                  <div class="overlay"></div>
                  <div class="btn-service">
                    <a href="#">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="cell-1-5 tab-cell-1-1">
                <div class="image-container">
                  <img src="/uploaded/linhvuchoatdong/Home-final-Final_09.jpg" alt="Công nghệ">
                  <span>Logistic</span>
                  <div class="overlay"></div>
                  <div class="btn-service">
                    <a href="#">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="cell-1-5 tab-cell-1-1">
                <div class="image-container">
                  <img src="/uploaded/linhvuchoatdong/Home-final-Final_09.jpg" alt="Công nghệ">
                  <span>Bất động sản</span>
                  <div class="overlay"></div>
                  <div class="btn-service">
                    <a href="#">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
      </div>

      <div class="homenews-wrapper">
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="grid">
          <div class="homecat-title">
            <a href="">Tin tức</a>
            <div class="menu-tintuc">
              <ul>
                <li>Hoạt động sự kiện Hanel</li>
                <li>Báo chí</li>
                <li>Tin tức công nghệ</li>
                <li>Tin tức công nghệ</li>
                
              </ul>
            </div>
          </div>
          <div class="c30"></div>
          <div class="homenews">
            <div class="swiper slider-homenews">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="homenews-item">
                    <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="">
                      <img src="/uploaded/tin-tuc/item (1).jpg" width="100%"
                        alt="Many desktop publishing packages and web page editors now use Lorem Ipsum ">
                    </a>
                    <div class="homenews-box">

                      <div class="c5"></div>
                      <div class="homenews-name">
                        <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html"
                          class="text-line-2">
                          Many desktop publishing packages and web page editors now use Lorem Ipsum
                        </a>
                      </div>
                      <div class="c10"></div>
                      <div class="text-line-4">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal
                        distribution of letters, as opposed to using &#39;Content here, content here&#39;, making it
                        look like readable English.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="homenews-item">
                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html"
                      class="">
                      <img src="/uploaded/tin-tuc/item (2).jpg" width="100%"
                        alt="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa">
                    </a>
                    <div class="homenews-box">

                      <div class="c5"></div>
                      <div class="homenews-name">
                        <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html"
                          class="text-line-2">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo
                          facere culpa
                        </a>

                      </div>
                      <div class="c10"></div>
                      <div class="text-line-4">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don&#39;t look even
                        slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                        there
                        isn&#39;t anything embarrassing hidden in the middle of text. All
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="homenews-item">
                    <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="">
                      <img src="/uploaded/tin-tuc/item (1).jpg" width="100%"
                        alt="Many desktop publishing packages and web page editors now use Lorem Ipsum ">
                    </a>
                    <div class="homenews-box">

                      <div class="c5"></div>
                      <div class="homenews-name">
                        <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html"
                          class="text-line-2">
                          Many desktop publishing packages and web page editors now use Lorem Ipsum
                        </a>

                      </div>
                      <div class="c10"></div>
                      <div class="text-line-4">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal
                        distribution of letters, as opposed to using &#39;Content here, content here&#39;, making it
                        look like readable English.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="homenews-item">
                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html"
                      class="">
                      <img src="/uploaded/tin-tuc/item (2).jpg" width="100%"
                        alt="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa">
                    </a>
                    <div class="homenews-box">

                      <div class="c5"></div>
                      <div class="homenews-name">
                        <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html"
                          class="text-line-2">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo
                          facere culpa
                        </a>

                      </div>
                      <div class="c10"></div>
                      <div class="text-line-4">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don&#39;t look even
                        slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                        there
                        isn&#39;t anything embarrassing hidden in the middle of text. All
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="homenews-item">
                    <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="">
                      <img src="/uploaded/tin-tuc/item (1).jpg" width="100%"
                        alt="Many desktop publishing packages and web page editors now use Lorem Ipsum ">
                    </a>
                    <div class="homenews-box">

                      <div class="c5"></div>
                      <div class="homenews-name">
                        <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html"
                          class="text-line-2">
                          Many desktop publishing packages and web page editors now use Lorem Ipsum
                        </a>

                      </div>
                      <div class="c10"></div>
                      <div class="text-line-4">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal
                        distribution of letters, as opposed to using &#39;Content here, content here&#39;, making it
                        look like readable English.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="homenews-item">
                    <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html"
                      class="">
                      <img src="/uploaded/tin-tuc/item (2).jpg" width="100%"
                        alt="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa">
                    </a>
                    <div class="homenews-box">

                      <div class="c5"></div>
                      <div class="homenews-name">
                        <a href="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-voluptatibus-facilis-explicabo-facere-culpa.html"
                          class="text-line-2">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo
                          facere culpa
                        </a>

                      </div>
                      <div class="c10"></div>
                      <div class="text-line-4">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don&#39;t look even
                        slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                        there
                        isn&#39;t anything embarrassing hidden in the middle of text. All
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="homenews-item">
                    <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html" class="">
                      <img src="/uploaded/tin-tuc/item(3).jpg" width="100%"
                        alt="Many desktop publishing packages and web page editors now use Lorem Ipsum ">
                    </a>
                    <div class="homenews-box">

                      <div class="c5"></div>
                      <div class="homenews-name">
                        <a href="/many-desktop-publishing-packages-and-web-page-editors-now-use-lorem-ipsum.html"
                          class="text-line-2">
                          Many desktop publishing packages and web page editors now use Lorem Ipsum
                        </a>

                      </div>
                      <div class="c10"></div>
                      <div class="text-line-2">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal
                        distribution of letters, as opposed to using &#39;Content here, content here&#39;, making it
                        look like readable English.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="slide-btn-next homeservice-button-next">
                <div class="slide-btn"><i class="fal fa-arrow-right"></i></div>
              </div>
              <div class="slide-btn-prev homeservice-button-prev">
                <div class="slide-btn"><i class="fal fa-arrow-left"></i></div>
              </div>
            </div>

          </div>
        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <script>
          $(function () {
            var homenews = new Swiper(".slider-homenews", {

              loop: true,

              spaceBetween: 20,
              autoplay: true,
              pagination: {

                clickable: true,
              },
              slidesPerView: 3,
              navigation: {
                nextEl: '.homenews-button-next',
                prevEl: '.homenews-button-prev'
              },
              breakpoints: {
                // when window width is >= 320px
                320: {
                  slidesPerView: 1,
                  spaceBetween: 20
                },
                // when window width is >= 480px
                768: {
                  slidesPerView: 2.5,
                  spaceBetween: 30
                },
                // when window width is >= 640px
                1040: {
                  slidesPerView: 3,
                  spaceBetween: 40
                },
                1600: {
                  slidesPerView: 3,
                  spaceBetween: 20
                }
              }
            });

            $('.slider-homenews').on('mouseover', function () {
              homenews.autoplay.stop();
            });
            $('.slider-homenews').on('mouseout', function () {
              homenews.autoplay.start();
            });

          });
        </script>
      </div>
      <div class="homeabout-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <div class="cell-2-3 tab-cell-1-1">
            <div class="homecat-title">
              dành cho cổ đông
            </div>
            <div class="c20"></div>
            <div class="homeabout-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.

            </div>
            <div class="c50"></div>
            <div class="homeabout-about">
              <ul>
                <li>
                  <input type="radio" id="item2" name="item" />
                  <label for="item2">Báo cáo tài chính</label>
                </li>
                <li>
                  <input type="radio" id="item2" name="item" />
                  <label for="item2">Báo cáo tài chính</label>
                </li>
                <li>
                  <input type="radio" id="item3" name="item" />
                  <label for="item3">Đại hội cổ đông</label>
                </li>
                <li>
                  <input type="radio" id="item4" name="item" />
                  <label for="item4">Đại hội cổ đông</label>
                </li>
              </ul>
              <div class="c50"></div>
              <a href="#" class="btn-xemthem">Xem Thêm</a>
            </div>
          </div>

        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="c30"> </div>
          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="content-f">
                  <div class="footer-title">Về Hanel</div>
                  <div class="c5 hide-on-tab"></div>
                  <div class="info">Thư ngỏ</div>

                  <div class="info">Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </div>

                  <div class="info">Lịch sử phát triển</div>
                  <div class="info">Ban lãnh đạo</div>
                  <div class="info">Cơ cấu tổ chức</div>
                  <div class="info">Giải thưởng</div>
                </div>
              </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="content-f">
                  <div class="footer-title">Về Hanel</div>
                  <div class="c5 hide-on-tab"></div>
                  <div class="info">Thư ngỏ</div>

                  <div class="info">Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </div>

                  <div class="info">Lịch sử phát triển</div>
                  <div class="info">Ban lãnh đạo</div>
                  <div class="info">Cơ cấu tổ chức</div>
                  <div class="info">Giải thưởng</div>
                </div>
              </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="content-f">
                  <div class="footer-title">Về Hanel</div>
                  <div class="c5 hide-on-tab"></div>
                  <div class="info">Thư ngỏ</div>

                  <div class="info">Sứ mệnh - Tầm nhìn - Giá trị cốt lõi </div>

                  <div class="info">Lịch sử phát triển</div>
                  <div class="info">Ban lãnh đạo</div>
                  <div class="info">Cơ cấu tổ chức</div>
                  <div class="info">Giải thưởng</div>
                </div>
              </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title hide-on-tab "> Title footer </div>
                <div class="c5 hide-on-tab"></div>
                <ul class="menuboxfooter" id="boxcol34">
                  <li><a href="#"> Menu footer 1</a> </li>
                  <li><a href="#"> Menu footer 2</a> </li>
                  <li><a href="#"> Menu footer 3</a> </li>
                </ul>
                <div class="c10"></div>
              </div>
            </div>
          </div>

          <div class="c10"> </div>
          <div class="c5"> </div>
          <hr>
          <div class="c30"></div>
          <div class="grid">
            <div class="flex-container">
              <div class="cell-1-4">
                <div class="footer-copyright">

                  ©2024 company.com
                </div>
              </div>
              <div class="cell-3-4">
                <div class="menu-copyright">
                  <ul>
                    <li>
                      Điều khoản sử dụng
                    </li>
                    <li>
                      Sơ đồ website
                    </li>
                    <li>
                      Sơ đồ website
                    </li>
                    <li>
                      Sơ đồ website
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="c30"></div>
      </div>

  </div>
  </div>
  </footer>
  </div>


  <!--
<div style="background: #1c4d99;">
    <div class="grid" >
    <ul class="menufooter">
        <li><a href="/our-company.html">Our company</a></li>
        <li><a href="/our-solution.html">Our solutions</a></li>
        <li><a href="/news.html">News</a></li>
        <li><a href="/product-safery.html">Product Safery</a></li>
    </ul>
    </div>
</div>

<a class="js-open-modal  dang-ky-tu-van hide-on-tab" data-modal-id="popupDangKy" href="#">
    <img src="/images/dang-ky-tu-van.gif" width="150"  > 

</a>

-->
  <div id="popupDangKy" class="modal-box">
    <a href="#" class="js-modal-close close btn-close"> [×] </a>
    <div class="modal-body">
      <div class="dangky">
        <div style="padding:20px; border-radius:10px; min-height:320px; ">
          <form action="/index4.php?page=contact&lang=" method="post" id="regform"
            data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha="Mã captcha không đúng"
            data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/">

            <input type="hidden" name="code" value="save" />

            <div class="form-title"> Tư vấn </div>
            <div class="c10"></div>
            <div class="form-label" style="text-align:center;"><i> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm
                nhất
              </i> </div>
            <div class="c10"></div>
            <div class="c20"></div>

            <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên (*)" id="yourname" />
            <div class="c10"></div>

            <input name="phone" type="text" class="txt-contact notNull" placeholder="Điện thoại (*)" />
            <div class="c10"></div>
            <input name="address" type="text" class="txt-contact " placeholder="Địa chỉ" />
            <div class="c10"></div>

            <select name="other_request" type="text" class="txt-contact">
              <option value=""> Chọn hình thức tư vấn </option>
              <option value="Tư vấn mua hàng"> Tư vấn mua hàng </option>
              <option value="Tìm đại lý, cửa hàng gần nhất">Tìm đại lý, cửa hàng gần nhất </option>

            </select>
            <div class="c10"></div>

            <div style="position:relative;">
              <input class="newsletter newsletter_b notNull" placeholder="Enter Captcha" name="sercurity" />
              <img src="/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle"
                class="imgCaptcha newsletter-capt-img"
                style="height: 35px; position: absolute; top: 0px; right: 0px; " />

            </div>


            <div class="c20"></div>
            <input name="input" type="button" onClick="$('#regform').submit()" class="btn-send" value="SEND" />
            <div class="c5"></div>
            <div class="msgbox" style="font-size: 20px; text-align:center;"> </div>
          </form>


        </div>
      </div>
    </div>
  </div>

  <script>
    $(function () {

      var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

      $('a[data-modal-id]').click(function (e) {
        e.preventDefault();
        $("body").append(appendthis);
        $(".modal-overlay").fadeTo(500, 0.7);
        var modalBox = $(this).attr('data-modal-id');
        $('#' + modalBox).fadeIn($(this).data());
      });

      $(".js-modal-close, .modal-overlay").click(function () {
        $(".modal-box, .modal-overlay").fadeOut(500, function () {
          $(".modal-overlay").remove();
        });
        return false;
      });


    });
  </script>

  <link rel="stylesheet" rel="preload" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/hover.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/js/jquery.mmenu.min.all.min.js"
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/css/jquery.mmenu.all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
  </div>


  <script>
    function check_newsletter() {
      ok = true;
      $('#newsletterForm .error').removeClass('error');
      $('#newsletterForm .notNull').each(function () {
        if ($(this).val() == '') {
          $(this).addClass('error');
          ok = false;
        }
      }
      );
      return ok;
    }

    $(function () {
      $('.countcart').html('(0)');
    });
  </script>
  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons'
    async='async'></script>
  <link rel="stylesheet" href="/css/widget-call.css" />
</body>

</html>